body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(214, 208, 208); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Header {
  background-color: rgb(247, 126, 56);
  padding: 2vh;
  color: whitesmoke;
}
.Tabs {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(26, 26, 250);
  color: whitesmoke;
  padding: 1vh;
}
.Tabs a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
h2 {
  margin: 1vh;
}
h3 {
  margin: 1vh;
}
.NavButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: grey;
  align-items: center;
}
.NavButtons button {
  display: flex;
  justify-content: left;
  padding: 0.5rem;
  margin-top: 8vh;
  width: 40vw;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.753);
  background-image: linear-gradient(rgb(247, 126, 56), rgb(170, 165, 165));
}
.AddEditTabs a {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.AddEditTabs {
  background-color: rgb(26, 26, 250);
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
}

.EmployeeContainer {
  border: 1px solid black;
  border-spacing: none;
}
table,
tr,
td,
th {
  border-collapse: collapse;
  border-spacing: none;
  border: 1px solid black;
}
.EmployeeTable {
  width: 100%;
}
.DeleteTabs {
  background-color: rgb(26, 26, 250);
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
}
.DeleteTabs a {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}
.ScheduleTable {
  width: 100%;
}
.ScheduleContainer {
  border: 1px solid black;
  border-spacing: none;
}
td {
  cursor: pointer;
}
.AddPositionContainer {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.AddPositionContainer button {
  cursor: pointer;
  display: flex;
  /* justify-content: space-evenly; */
}
